#bar {
    text-align: center;
    color: white;
    width: 100%;
    background-color: #226ca1;
    padding: 10px;
    margin: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
#main-nav {
    background-color: #476ff2;
    color: white;
    margin: 0;
}

#main-nav li {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  #main-nav {
    background-color: #11518a;
    color: white;
    margin: 0;
}

#main-nav li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

#main-nav li a {
    text-decoration: none; 
    color: inherit; 
}

#main-nav li:hover {
    background-color: #cbcfee;
}

#main-nav ul li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding: 10px;
}

#main-nav li:hover {
    background-color: #cbcfee;
}

#main-nav ul li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding: 10px;
}


.search-container {
    text-align: center;
}

.search-input {
    padding: 10px;
    width: 300px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.search-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#loadingIndicator {
    color: #2a2a2a;
    font-size: 18px;
    text-align: center;
    padding: 20px;
}