#bar {
    text-align: center;
    color: white;
    width: 100%;
    background-color: #226ca1;
    padding: 10px;
    margin: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
#main-nav {
    background-color: #476ff2;
    color: white;
    margin: 0;
}

#main-nav li {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  #main-nav {
    background-color: #11518a;
    color: white;
    margin: 0;
}

#main-nav li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

#main-nav li a {
    text-decoration: none; 
    color: inherit; 
}

#main-nav li:hover {
    background-color: #cbcfee;
}

#main-nav ul li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding: 10px;
}

#main-nav li:hover {
    background-color: #cbcfee;
}

#main-nav ul li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding: 10px;
}


.search-container {
    text-align: center;
}

.search-input {
    padding: 10px;
    width: 300px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.search-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    animation: wiggle 1s ease-in-out infinite;
    animation-delay: 2s; 
}

@keyframes wiggle {
    0%, 100% {
      transform: rotate(-20deg);
    }
    50% {
      transform: rotate(20deg);
    }
  }

.book-container {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the filter container */
.filter-container {
    margin-top: 20px;
}

/* Style for the label */
.filter-container label {
    margin-right: 10px;
}

/* Style for the select dropdown */
.filter-container select {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
}

/* Style for the options in the dropdown */
.filter-container select option {
    background-color: #fff;
    color: #333;
}

/* Style for the select dropdown when it's hovered */
.filter-container select:hover {
    border-color: #226ca1;
}

.content {
    display: flex;
    justify-content: flex-end; 
    align-items: flex-end; 
    flex-wrap: wrap;
    padding: 20px;
}

/* Filter Dropdown */
.filter-container {
    margin-right: 20px; 
}

/* Search Bar */
.search-container {
    margin-bottom: 20px;
}

.book-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 20px 20px 0; 
    width: calc(40% - 20px); 
}

.book-container h2 {
    margin-top: 0;
}

#loadingIndicator {
    color: #2a2a2a;
    font-size: 18px;
    text-align: center;
    padding: 20px;
}

/* Style for carousel container */
.main-carousel {
    width: 80%; 
    margin: 0 auto; 
}

/* Style for carousel cells */
.main-carousel .carousel-cell {
    width: 200px; 
    height: 300px; 
    margin-right: 10px; 
    border-radius: 5px; 
    overflow: hidden; 
}


.main-carousel img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}


.form-container {
    margin-top: 20px;
}

/* Style for the label */
.form-container label {
    margin-right: 10px;
}

/* Style for the select dropdown */
.form-container select {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
}

/* Style for the options in the dropdown */
.form-container select option {
    background-color: #fff;
    color: #333;
}

/* Style for the select dropdown when it's hovered */
.form-container select:hover {
    border-color: #226ca1;
}


/* Filter Dropdown */
.form-container {
    margin-right: 20px; 
}

button {
    padding: 5px 15px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
  }
  
  button:hover {
    letter-spacing: 3px;
    background-color: hsl(225, 71%, 54%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(70, 64, 229) 0px 7px 29px 0px;
  }
  
  button:active {
    letter-spacing: 3px;
    background-color: hsl(225, 71%, 54%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(70, 64, 229) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }
  

  